.footer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    height: 65px;
    width: 97%;
    padding: 20px;

    background-color: #282828;
}
.footer__left {
    flex: 0.3;
    display: flex;
    align-items: center;
    color: white;
    max-width: 300px;
}
.footer__albumCover {
    width: 60px;
    height: 60px;
    border-radius: 20px;
    margin-right: 20px;
    object-fit: contain;
}
.footer_songInfo > h4 {
    margin-bottom: 5px;
}
.footer_songIngo > p {
    font-size: 14px;
    color: gray;
}
.footer__center {
    flex: 0.4;
    padding: 0 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__outside {
    color: #1DB954;
}
.footer__outside:hover, .footer__icon:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.2) !important;
}
.footer__right .MuiSlider-root {
    color: #1DB954;
}
.footer__right {
    flex: 0.3;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
